body{
    margin: 0;
    background-color:black; 
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: rgb(9, 157, 9);
    font-family: serif;
}

span{
    display: inline-block;
    color: rgb(0, 255, 0);
    border-bottom: 2px solid rgb(0, 255, 0);
}

